* {
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
#canvas {
  border: 1px solid black;
  /* background-image: url("space.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}
#score{
  width: 120px;
  height: 40px;
  position: absolute;
  border: 2px solid;
  top:20px;
  left:142;
  font-size: 30px;
  color: white;
}
#life{
  width: 120px;
  height: 40px;
  position: absolute;
  border: 2px solid;
  top:20px;
  left:20;
  font-size: 30px;
  color: white;
}
#enemyCount{
  width: 200px;
  height: 40px;
  position: absolute;
  border: 2px solid;
  top:20px;
  left:262;
  font-size: 30px;
  color: white;
  
}
#level{
  width: 120px;
  height: 40px;
  position: absolute;
  border: 2px solid;
  top:20px;
  left:470;
  font-size: 30px;
  color: red;
  
}
